.login-page{
	background: url("../img/background.jpg") no-repeat fixed;
	background-size: cover;
	overflow: hidden;
}
.uppercase{
	text-transform: uppercase;
}
.index-page{
	background: url("../img/background.jpg") no-repeat fixed;
	background-size: cover;
	overflow: hidden;
}
.transparent{
	padding: 20px;
	background:rgba(255,255,255,0.75);
    height: 700px;
}
.hr{
	border-color: #000;
}
.footer-welcome{
	position: relative;
	display: block;
	margin: 0 auto;
	width: 200px;
}
.admin-page-body{
	background-color: #f9f9f9;
}
.static-left{
	background-color: #93d827;
    position: fixed;
    width: 230px;
    height: 700px;
    overflow: hidden;
    border-right: 2px solid #6f6f6f;
}
.admin-title-page{
	color:	rgba(0,0,0,0.7);
	font-weight: 700;
	font-size: 25px;
	text-align: center;
	background-color: #7bbf1c;
	padding: 5px;
	border-bottom: 1px solid #6f6f6f;
}
.admin-profile{
	background: url("../img/background.jpg") no-repeat fixed;
    width: 100%;
    height: 230px;
    border-bottom: 1px solid green;
    padding: 20px;
    text-align: center;
}
.admin-username{
	background: white;
	border-radius: 5px;
	text-transform: uppercase;
	font-weight: 600;
	margin-top: 2px;
}
.admin-content{
	position: relative;
    left: 235;
    padding: 10px;
}
.admin-hr{
	border: 1px solid black;
}
.container-float{
	width: 30%;
    margin: 65%;
    height: 350px;
    border-radius: 10px;
    margin-top: 10%;
}
.login{
	background: rgba(255,255,255,0.8);
    width: 30%;
    padding: 3%;
    border-radius: 10px;
    margin: 0 auto;
    top: 20%;
    position: fixed;
    left: 35%;
}
.error-page{
	background: rgba(0,0,0,0.1);
    height: 165px;
    width: 610px;
    padding: 20px;
    margin: 0 auto;
    border-radius: 10px;
    margin-top: 30px;
    border: 1px solid black;
}
.basic-page{
	width: 99%;
    background: white;
    /*background: #f9f9f9;*/
    min-height: 100%;
    margin: 0 auto;
    padding: 10px;
}
.navbar{
	width: 100%;
    height: 50px;
    background: #28A745;
    position: relative;
    box-shadow: 0px 2px #e2e2e2;
}
.shadow-page{
	width: 80%;
    background: rgba(0,0,0,0.4);
    min-xheight: 100%;
    margin: 0 auto;		
}
.navbar-title{
	font-size: 20px;
    font-family: fantasy;
    letter-spacing: 2px;
}
.button-menu{
    margin-right: 10px;
}